# 依赖
node_modules/
.pnp
.pnp.js

# 测试
coverage/
.nyc_output/

# Next.js
.next/
out/

# 生产构建
dist/
build/

# 杂项
.DS_Store
*.pem

# 调试
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 本地环境变量
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo

# Prisma
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# Turbo
.turbo

# 日志
logs/
*.log

apps/web/test-results/